.low {
	background-color: var(--vkui--color_background_negative);
}

.medium {
	background-color: var(--vkui--color_accent_orange--active);
}

.high {
	background-color: var(--vkui--color_background_positive);
}
